body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    /* background-image: url(img/airplane.jpg);
    background-position: center;
    background-size: 100%; */
    color: white;
    padding: 20px;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  header nav ul li a {
    
    color: white;
    text-decoration: none;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  section {
    padding: 20px;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer nav ul li a {
    color: #333;
    text-decoration: none;
  }
  
  h3 {
    text-align: center;
  }
  section{
    display: flex;
  }

  .country {
    overflow: hidden;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 2px rgba(0,23,85,.3);
    background-color: lightgrey;
  }
  .country:hover {
    background-color: grey;
  }

  img.resize {
    max-width: 100%;
    max-height:100%;
  }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-left: -5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #c4c3c3;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #4f4f4f;
}

