@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lora:ital@0;1&family=Nunito:wght@200;300;400;600;700&display=swap');
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  
  
  header {
    background-color: #333;
      color: #fff;
      z-index: 10000;
      grid-area: header;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }
    
    header .logo {
      text-align: right;
      font-size: 20px;
      font-weight: bolder;
      transform: uppercase;
    }
    header nav ul {
      list-style: none;
    }
    
    header nav ul li {
      display: inline;
      margin-right: 10px;
    }
    
    header nav ul li a {
      color: #fff;
      text-decoration: none;
      transition: all .2s linear;
      margin: 0 .8rem;
      font-size: 2rem;
      
    }
  
    header .navbar a:hover{
      color: rgb(64, 255, 0);
    }
    /* body section start */
  header .icons i{
    font-size: 1.35rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
  }
  header .icons i:hover{
    color:rgb(64, 255, 0) ;
  }
  
  header .search-bar-container {
    position: absolute;
    top:100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  header .search-bar-container .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  header .search-bar-container #search-bar {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
  }
  
  header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
  }
  
  
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  section {
    padding: 20px;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer nav ul li a {
    color: #333;
  }

  .footer-link{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .footer-link a{
    margin: 10px;
    color: white;
      font-weight: bold;
  }

  
  h3 {
    color: black;
    text-decoration: underline;
    text-align: center;
  }
  section{
    display: flex;
  }

  .country {
    overflow: hidden;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 2px rgba(0,23,85,.3);
    background-color: lightgrey;
  }
  .country:hover {
    background-color: grey;
  }

  img.resize {
    max-width: 100%;
    max-height:100%;
  }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-left: -5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #c4c3c3;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #4f4f4f;
}


/* everything below this is for navagation on the top of display, home, destionation, and about */

.navbar {
  overflow: hidden;
  background-color: #333;
  
  display: flex;
  align-items: right;


  
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 17px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  overflow: hidden;
  border-radius: 5px;
  background-color: #4f4f4f;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

