@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lora:ital@0;1&family=Nunito:wght@200;300;400;600;700&display=swap');
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body{
margin:0;
padding:0;
}
.container{
width: 100%;
height: 100vh;
display: grid;
grid-template-areas: 
      "header header"
     
      "video video"
      "group-1 group-1"
      "group-2 group-2"
      "food food"
      "footer footer";

}
  header {
  background-color: #333;
    color: #fff;
    z-index: 1000;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  header .logo {
    font-size: 20px;
    font-weight: bolder;
    transform: uppercase;
  }
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all .2s linear;
    margin: 0 .8rem;
    font-size: 2rem;
    
  }

  header .navbar a:hover{
    color: rgb(84, 218, 241);
  }
  /* body section startheader .icons i{
  font-size: 1.35rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons i:hover{
  color:rgb(84, 218, 241) ;
}


header .search-bar-container {
  position: absolute;
  top:100%; left: 0; right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: .1rem solid rgba(255, 255, 255, .2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container .active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem; */

}
/*LOGIN FORM CONTAINER STARTS .login-form-container{
  position: fixed;
  top: -120%; left: 0;
  z-index: 10000;
  width: 100%;
  background: rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container .active{
  top:0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  background: #fff;
  width: 50rem;
}

.login-form-container h3{
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .login-box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  border: 1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.login-form-container form #remember{
  margin: 2rem 0;
}

.login-form-container form label {
font-size: 1.5rem;
}

.login-submit-btn {
  display: inline-block;
  margin-top: 1rem;
  background: rgba(89, 174, 118, 0.5);
  color: #fff;
  padding: .8rem 3rem;
  border: .2rem solid rgba(89, 174, 118, 0.5);
  cursor: pointer;
  font-size: 1.7rem; }


  .login-submit-btn:hover{
    background: rgba(255,165,0,0.2);
    color: rgba(89, 174, 118, 0.5);
  }

  .login-form-container form .login-submit-btn{
    display: block;
    width: 100%;
  }

  .login-form-container form p {
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;

  }

  .login-form-container form p a{
    color: var(--blue);
  }

  .login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
  }

.login-form-container #form-close{
  position: relative;
  
}
*/


/*VIDEO CONTAINER STARTS */
.video-container {
  grid-area: video;
  margin-bottom: 20px;
  /*

    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
.video-container h1, h2 {
  text-align: center;
}
/* .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
*/
.embed {

  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed-16-9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.map-glance-container{
  grid-area: group-1;
  display: grid;
  
  grid-template-areas: "map table";
  width: 90%;
  margin-top: 1PX;
 
margin: 0 auto;
margin-bottom: 5vh;
} 
/* Map section start */
.map-container{
  grid-gap: 2px;
  grid-area: map;
  margin-left: 20px;
  margin-right: 20px; /* Add margin to the right to create space between elements */
margin-top: 40px;
}
.map-container iframe{
  width: 400px;
  height: 45vh;
}
.map-container h3{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  }

/* Map section end */


/* Vietnam at a glance start*/
.glance{
  grid-area: table;
padding-top: 40px;
margin-right: 20px;

}
.glance caption{
  font-size:30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  
}
.glance table, th, td{
  background-color: rgb(233, 203, 133);
 /* background-color: rgb(154, 198, 240);*/
  padding: 20px;
  
}
.glance table td{
  text-align: center;
}
/* Vietnam at a glance end*/



/*Places section start*/
/*
.places-container div{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 35px;
  flex-direction: row;

}
.places-container div img{
  width:340px;
  height:250px;
  border-radius: 10px;
  cursor: pointer;
}

.places-container div h4{
  position: absolute;
color: #fff;

}
#photo{
  display:flex;
  flex-direction: column;
  
}

/*Places section end*/

/* THE TAB STARTS */

.tab button {
  background-color: burlywood; /* inherit*/
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f7941b;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
 /* border: 1px solid #ccc; */
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full o23pacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* THE TAB ENDS */

/* CONTAINER & BACKGROUND START */
.tabcontainer {
  grid-area: group-2;
  height: 120vh;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  
}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
 /* 
  filter: brightness(46%);
   background-image:  linear-gradient((rgba (0,0,0,0.6), rgb(0,0,0,0.3)), url('img/background.jpg')) ; */
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('img/background.jpg');
  
  background-size: cover;
  background-position: center;
}
 /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  .topright:hover {color: red;}

  .tabcontainer .tab{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    
    padding: 10px 20px;
  }



  
              /* End Style tab */
/* CONTAINER & BACKGROUND END */

/* MODYFING THE TEXT & IMAGES OF PLACES IN TABCONTENT START*/
.column{
display: flex;
justify-content: space-around;
align-items: flex-start;
}

.text-box h1, h2, p {
  color: white;
  margin-top: 20px;
}

.text-box h1{
  text-align: center;
  letter-spacing: 3px;
  font-size: 35px;
}

.text-box h2{
  font-weight: bold;
  letter-spacing: 3px;
}

.text-box p{
  font-size: 18px;
}

.text-box{
  flex: 1;
  margin: 10px;
  width: 50%;
}

.card {
  flex: 1;
  margin: 10px;
}
.card {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Distribute items evenly in each row */
}

.places {
  flex-basis: calc(50% - 20px); /* Each item takes 50% of the container width minus the margin */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 /* display: inline;
  border-radius: 12px;
  text-align: center; */
  
}

.places img {
  width: 300px;
  height: 250px;
  border-radius: 12px;
 /* margin-bottom: 10px; /* Add some spacing between the image and the caption */
}

.places a {
text-decoration: none;
color: rgb(232, 154, 66);
font-weight: bold;
font-size: 17px;
border-radius: 12px;
background-color: #fff;
padding: 12px 25px;
}

.places a:hover {
  background-color: #000;
  letter-spacing: 3px;
  transition: 0.6s;
}

.places h3 {
  color: rgb(225, 114, 9);
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 3px;
  margin-bottom: 10px; /* Add space between h3 and the image */
  padding: 10px 10px;
  background-color: black;
}





/*FOOD CONTAINER start*/
.food-container{
  grid-area: food;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
 margin-bottom: 50px;
}
.food-container h1, h4, p {
  text-align: center;
margin-bottom: 5px;

}
.food-container .foods {
  display: flex;
 width: 60%;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;
 
}
.food-container img{
  display: flex; /*using flex to make images at the center of the body */
  flex-wrap: wrap;
  margin: 10px;
  width: 230px;
  /*width:230px;*/
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
  
}
.food-container p{
  color: black;
  text-align: center;
  width: 50%;
  margin: auto 0; 
  

}
.food-container #myBtn {
  width: 7rem;
  border: none;
  color: rgb(211, 52, 12);
  font-weight: bold;
  background-color: #fff;
  padding: 20px 22px;
}

.food-container #myBtn:hover {
  color: rgb(82, 121, 82);
} 
/*Food tours section end*/

  footer {
    grid-area: footer;
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  footer nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer nav ul li a {
    color: #333;
    text-decoration: none;
  }

  footer button{
    border-radius: 40px;
    background-color: #fff;
  }

  footer button:hover{
    letter-spacing: 2px;
    transition: 0.5s;

  }
  .footer-link{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .footer-link a{
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;

  }
  /* everything below this is for navagation on the top of display, home, destionation, and about */

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 17px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  overflow: hidden;
  border-radius: 5px;
  background-color: #4f4f4f;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* this is the end of the navagation */
