  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lora:ital@0;1&family=Nunito:wght@200;300;400;600;700&display=swap');
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
  
  body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  section {
    padding: 20px;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-link{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  footer nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer nav ul li a {
    color: #333;
  }
  
  h3 {
    text-align: center;
  }
  section{
    display: flex;
  }

  .facts {
    overflow: hidden;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 2px rgba(0,23,85,.3);
    background-color: lightgrey;
  }

  img.resize {
    max-width: 110%;
    max-height:110%;
  }
  img.resize1{
    margin-top: 10px;
    float: left;
    padding: 1px;
    height: 60px;
  }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-left: -5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #c4c3c3;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #4f4f4f;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 17px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  overflow: hidden;
  border-radius: 5px;
  background-color: #4f4f4f;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#myVideo {
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: -100;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
    display: none;
}

.footer-link a{
  margin: 10px;
  color: white;
}

#canadainfo{
  display: flex;
  justify-content: space-around; /* Spread out elements evenly */
  align-items: center; /* Center elements vertically */
}
.glance{
  align-items: center;
  grid-area: table;
  padding-top: 40px;
  margin-right: 20px;

}

.glance h1{
  text-align: center;
}
.glance caption{
  font-size:30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  
}
.glance table, th, td{
  background-color: rgb(233, 203, 133);
 /* background-color: rgb(154, 198, 240);*/
  padding: 20px;
  
}
.glance table td{
  text-align: center;
}

#Falls{
  display: none;
}

#Ottawa{
  display: none;
}

header {
  background-color: #333;
    color: #fff;
    z-index: 1000;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  header .logo {
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    transform: uppercase;
  }
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all .2s linear;
    margin: 0 .8rem;
    font-size: 2rem;
    
  }

  header .navbar a:hover{
    color: rgb(64, 255, 0);
  }
  /* body section start */
header .icons i{
  font-size: 1.35rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons i:hover{
  color:rgb(64, 255, 0) ;
}

header .search-bar-container {
  position: absolute;
  top:100%; left: 0; right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: .1rem solid rgba(255, 255, 255, .2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container .active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

table {
  width: 60%;
  padding: 40px;
  float: left; /* Float the table to the left */
  margin-right: 20px; /* Add some margin between the table and iframes */
}

/* Style for the iframes */
iframe {
  margin: 20px;
  float: left; /* Float the iframes to the left */
  width: 600px; /* Set the width of the iframes */
  height: 450px; /* Set the height of the iframes */
  margin-bottom: 20px; /* Add some margin at the bottom of the iframes */
  border: 0; /* Remove the iframe border */
}
nav:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 968px) {
  table,
  iframe {
    background-color: green;
    width: 100%; /* Set width to 100% on smaller screens */
    display:contents;
   }
}